<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>韩国签证处理</title>
</head>

<body>

<h1>韩国签证处理</h1>

<form method="post" >
    <label for="input_folder"> 文件路径：</label>
    <input type="text" id="input_folder" name="input_folder" placeholder="请输入文件路径">
    <br>
    <label for="input_folder"> 创建文件：</label>
    <button type="submit" formaction="/visa_Korea_folder">创建文件</button>

    <br>
    <br>
    <label for="input_form"> 文件路径：</label>
    <input type="text" id="input_form" name="input_form" placeholder="请输入文件路径">

    <br>
    <label for="input_form"> 生成表格：</label>
    <button type="submit" formaction="/visa_korea_form">确认生成</button>

</form>
</body>
</html>
