<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>日本签证处理</title>
</head>

<body>

<h1>日本签证处理</h1>

<form>
    <label for="koreavisacreateFolder"> 文件路径：</label>
    <input type="text" id="koreavisacreateFolder" name="inputText" placeholder="请输入文件路径">
    <br>
    <label for="koreavisacreateFolder"> 创建文件：</label>
    <button type="button" onclick="alert('点击了按钮1')">创建文件</button>

</form>
<br>

<form>
    <label for="koreavisacreateForm"> 文件路径：</label>
    <input type="text" id="koreavisacreateForm" name="inputText" placeholder="请输入文件路径">

    <br>
    <label for="koreavisacreateForm"> 生成表格：</label>
    <button type="button" onclick="alert('点击了按钮2')">确认生成</button>

</form>
</body>
</html>
