<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>韩国签证处理</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/visa_style.css') }}">
</head>

<body>
    <div class="center">
        <h1>韩国签证处理</h1>
        
        {% set forms = [
            {'label_for': 'path_create_project', 'label_text': '项目名称：', 'input_id': 'path_create_project', 'input_name': 'path_create_project', 'input_placeholder': '如：HID123_LI JIAN', 'button_id': 'submit_button_create', 'button_value': 'create_project', 'button_text': '确认创建'},
            {'label_for': 'path_fill_form', 'label_text': '文件路径：', 'input_id': 'path_fill_form', 'input_name': 'path_fill_form', 'input_placeholder': '如：HID123_LI JIAN', 'button_id': 'submit_button_fill', 'button_value': 'fill_form', 'button_text': '确认生成'}
        ] %}
        
        {% for form in forms %}
        <form method="post" action="{{ url_for('visa_routes.visa_Korea_processing') }}">
            <label for="{{ form.label_for }}">{{ form.label_text }}</label>
            <input type="text" id="{{ form.input_id }}" name="{{ form.input_name }}" placeholder="{{ form.input_placeholder }}">
            <button id="{{ form.button_id }}" type="submit" name="submit_button" value="{{ form.button_value }}">{{ form.button_text }}</button>
        </form>
        {% endfor %}
    </div>
</body>
</html>
