<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>

<div>
    <h2>签证区域</h2>

    <a href="/visaKorea">
        <button>韩国签证</button>
    </a>
    <a href="/visa">
        <button>日本签证</button>
    </a>
    <a href="/visa">
        <button>美国签证</button>
    </a>
    <a href="/visa">
        <button>中国签证</button> <br>
    </a>
    <a href="/visa">
        <button>台湾签证</button>
    </a>

    <a href="/visa">
        <button>澳洲签证</button>
    </a>

    <a href="/visa">
        <button>马来西亚签证</button>
    </a>

    <a href="/visa">
    <button>申根签证</button>
    </a>

</div>

<div>
    <h2>机票区域</h2>
    <a href="/flight">
        <button>按钮1</button>
    </a>
    <a href="/flight">
        <button>按钮2</button>
    </a>
    <a href="/flight">
        <button>按钮3</button>
    </a>
    <a href="/flight">
        <button>按钮4</button>
    </a>
    <a href="/flight">
        <button>按钮5</button>
    </a>

    <a href="/flight">
        <button>按钮6</button>
    </a>

</div>

<div>
    <h2>配套区域</h2>
    <a href="/accommodation">
        <button>按钮1</button>
    </a>
    <a href="/accommodation">
        <button>按钮2</button>
    </a>
    <a href="/accommodation">
        <button>按钮3</button>
    </a>
    <a href="/accommodation">
        <button>按钮4</button>
    </a>
    <a href="/accommodation">
        <button>按钮5</button>
    </a>
    <a href="/accommodation">
        <button>按钮6</button>
    </a>
</div>

<div>
    <h2>文件处理区域</h2>
    <a href="/file_processing">
        <button>按钮1</button>
    </a>
    <a href="/file_processing">
        <button>按钮2</button>
    </a>
    <a href="/file_processing">
        <button>按钮3</button>
    </a>
    <a href="/file_processing">
        <button>按钮4</button>
    </a>
    <a href="/file_processing">
        <button>按钮5</button>
    </a>
    <a href="/file_processing">
        <button>按钮6</button>
    </a>
</div>

</body>
</html>
